<div id="page-wrapper">
  <h3>订单列表</h3>
  <hr>
  <form class="form-inline">
    <div class="form-group">
      <input class="form-control" name="keyword" type="search" [(ngModel)]="condition.keyword" placeholder="输入订单编号/手机号/姓名">
    </div>
    <div class="form-group">
      <label for="begin">开始日期</label>
      <input class="form-control" id="begin" name="begin" type="date" [(ngModel)]="condition.begin">
    </div>
    <div class="form-group">
      <label for="end">结束日期</label>
      <input class="form-control" id="end" name="end" type="date" [(ngModel)]="condition.end">
    </div>
    <button class="btn btn-primary btn-sm" (click)="onSearch()"><i class="glyphicon glyphicon-search"></i></button>
  </form>

  <table class="table tabler-hover">
    <thead>
      <tr>
        <th>订单编号</th>
        <th>订单信息</th>
        <th>创建时间</th>
        <th>订单状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orderlist">
        <td>{{order.id}}</td>
        <td>
          <p *ngFor="let product of order.products">
            {{product.name}} &nbsp; X &nbsp;{{product.count}} 小计：￥{{product.price*product.count}}
          </p>
        </td>
        <td>{{order.createtime}}</td>
        <td>{{order.state}}</td>
        <td><i class="glyphicon glyphicon-trash" *ngIf="order.state==1"></i></td>
      </tr>
    </tbody>
  </table>
  <ul class="pagination bottom" *ngIf="pages.length>0">
    <li [class.disabled]="index<=1"><a href="#" (click)="onPrev()">&laquo;</a></li>
    <li *ngFor="let page of pages" [class.active]="page==index"><a href="#" (click)="onPageClick(page)">{{page}}</a></li>
    <li [class.disabled]="index*20>=count"><a href="#" (click)="onNext()">&raquo;</a></li>
  </ul>
</div>