<div id="page-wrapper">
  <h3>商品分类管理</h3>
  <table class="table table-hover table-bordered table-responsive">
    <thead>
      <tr>
        <th>分类名称</th>
        <th>图标路径</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{category.Name}}</td>
        <td>{{category.IconPath}}</td>
        <td>{{category.State|catestate}}</td>
        <td>
          <i class="glyphicon glyphicon-edit operator" role="button" (click)="onEdit(category)"></i>
          <i class="glyphicon glyphicon-ban-circle operator" *ngIf="category.State==1" (click)="onDisable(category)"></i>
          <i class="glyphicon glyphicon-ok-circle operator" *ngIf="category.State==0" (click)="onEnable(category)"></i>
          <i class="glyphicon glyphicon-remove" role="button" (click)="onRemove(category)"></i>
          <i class="glyphicon glyphicon-arrow-up operator" (click)="onUp(category)"></i>
          <i class="glyphicon glyphicon-arrow-down operator" (click)="onDown(category)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <form class="form-inline bottom">
    <div class="form-group">
      <label for="cateName">名称</label>
      <input class="form-control" id="cateName" name="cateName" type="text" [(ngModel)]="currCategory.Name">
    </div>
    <div class="form-group">
      <label for="upload">选择图标</label>
      <input type="file" ng2FileSelect [uploader]="uploader" (change)="selectFileOnChanged()">
    </div>
    <div class="form-group">
      <div *ngIf="currCategory.IconPath">
        <img class="uploadPic" src="{{currCategory.IconPath}}" alt>
        <button class="btn btn-danger btn-xs" (click)="onPicRemove()">删除</button>
      </div>
      <div *ngFor="let item of uploader.queue">
          <div class="progress">
            <div class="progress-bar" role="progressbar" *ngIf="item" [ngStyle]="{'width':item.progress+'%'}"></div>
          </div>
          <button class="btn btn-xs btn-primary" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess"><i class="glyphicon glyphicon-upload"></i>上传</button>
          <button class="btn btn-xs btn-danger" (click)="item.remove()"><i class="glyphicon glyphicon-trash"></i>删除</button>
      </div>
    </div>
    <button class="btn btn-primary" (click)="onSubmit()" *ngIf="!currCategory.Id">添加</button>
    <button class="btn btn-primary" (click)="onUpdate()" *ngIf="currCategory.Id">更新</button>
  </form>
</div>