<div id="page-wrapper">
  <h3>商品分类管理</h3>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>分类名称</th>
        <th>图标路径</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{category.name}}</td>
        <td>{{category.iconpath}}</td>
        <td>
          <i class="glyphicon glyphicon-edit operator"></i>
          <i class="glyphicon glyphicon-remove"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <form class="form-inline bottom">
    <div class="form-group">
      <label for="cateName">名称</label>
      <input class="form-control" id="cateName" name="cateName" [(ngModel)]="currCategory.name" type="text">
    </div>
    <div class="form-group">
      <label for="upload">选择图标</label>
      <input type="file" ng2FileSelect [uploader]="uploader" (change)="selectFileOnChanged($event)">
    </div>
    <div class="form-group">
      <div *ngFor="let item of uploader.queue">
          <div class="progress">
            <div class="progress-bar" role="progressbar" *ngIf="item" [ngStyle]="{'width':item.progress+'%'}"></div>
          </div>
          <button class="btn btn-xs btn-primary" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess"><i class="glyphicon glyphicon-upload"></i>上传</button>
          <!--<button class="btn btn-xs btn-warning"><i class="glyphicon glyphicon-ban-circle"></i>取消</button>-->
          <button class="btn btn-xs btn-danger" (click)="item.remove()"><i class="glyphicon glyphicon-trash"></i>删除</button>
      </div>
    </div>
    <button class="btn btn-primary" (click)="onSubmit()">添加</button>
  </form>
</div>