<div id="page-wrapper">
  <h3>单位管理</h3>
  <div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>名称</th>
          <th>增长数量</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unit of units;let i = index">
          <td>{{unit.name}}</td>
          <td>{{unit.step}}</td>
          <td>
            <i class="glyphicon glyphicon-edit operator" (click)="onEdit(i)"></i>
            <i class="glyphicon glyphicon-remove operator" (click)="onRemove(i)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="bottom">
    <form class="form-inline">
      <input type="hidden" [(ngModel)]="currUnit.id" name="currId">
      <div class="form-group">
        <label for="unitname">名称</label>
        <input class="form-control" id="unitname" name="unitname" [(ngModel)]="currUnit.name" type="text">
      </div>
      <div class="form-group">
        <label for="unitstep">增长数量</label>
        <input class="form-control" id="unitstep" name="unitstep" [(ngModel)]="currUnit.step" type="number">
      </div>
      <button class="btn btn-primary" type="submit" (click)="onAddUnit()">添加</button>
    </form>
  </div>

</div>