<div id="page-wrapper">
  <form #productForm="ngForm">
    <fieldset>
      <div class="form-group">
        <div class="col-sm-8 nopadding">
          <label for="prodName">名称</label>
          <input class="form-control" id="prodName" name="prodName" type="text" required #name="ngModel" [(ngModel)]="newProduct.Name">
          <p class="error" *ngIf="name.touched&&!name.valid">请输入商品名称！</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 nopadding">
          <label for="count">数量</label>
          <input class="form-control" id="count" name="count" type="number" required #prodCount="ngModel" [(ngModel)]="newProduct.TotalCount">
          <p class="error" *ngIf="prodCount.touched&&!prodCount.valid">请输入数量！</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 nopadding">
          <label for="unit">单位</label>
          <select class="form-control" id="unit" name="unit" required #prodUnit="ngModel" (ngModelChange)="onUnitChange($event)" [ngModel]="newProduct.UnitId">
            <option [value]="unit.Id" *ngFor="let unit of units">{{unit.Name}}</option>
          </select>
          <p class="error" *ngIf="prodUnit.touched&&!prodUnit.valid">请选择商品单位！</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 nopadding">
          <label for="category">分类</label>
          <select class="form-control" id="category" name="category" required #prodCate="ngModel" (ngModelChange)="onCateChange($event)" [ngModel]="newProduct.CategoryId">
            <option [value]="category.Id" *ngFor="let category of categories">{{category.Name}}</option>
          </select>
          <p class="error" *ngIf="prodCate.touched&&!prodCate.valid">请选择商品分类！</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 nopadding">
          <label for="price">价格</label>
          <input class="form-control" id="price" name="price" type="number" required #prodPrice="ngModel" [(ngModel)]="newProduct.Price">
          <p class="error" *ngIf="prodPrice.touched&&!prodPrice.valid">请输入价格！</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 nopadding">
          <label for="description">描述</label>
          <input class="form-control" id="description" name="description" type="textarea" required #prodDesc="ngModel" rows="3" [(ngModel)]="newProduct.Description">
          <p class="error" *ngIf="prodDesc.touched&&!prodDesc.valid">请输入描述！</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-8 nopadding">
          <label for="upload">选择图片</label>
          <input type="file" ng2FileSelect multiple [uploader]="uploader" (change)="selectFileChanged()">
        </div>
      </div>
    </fieldset>
    <div class="pictures row">
      <div class="col-sm-4" *ngFor="let pic of newProduct.Pictures;let ii of index">
        <img class="uploadPic" src="{{pic.Path}}">
        <button class="btn btn-danger btn-xs" (click)="onPicedRemove(pic)">删除</button>
      </div>
      <div class="col-sm-4" *ngFor="let item of uploader.queue;let i of index">
        <div class="progress">
          <div class="progress-bar" role="progressbar" *ngIf="item" [ngStyle]="{'width':item.progress+'%'}"></div>
        </div>
        <button class="btn btn-xs btn-primary" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess"><i class="glyphicon glyphicon-upload"></i>上传</button>
        <button class="btn btn-xs btn-danger" (click)="onPicRemove(i)"><i class="glyphicon glyphicon-trash"></i>删除</button>
      </div>
    </div>
    <button class="btn btn-primary" style="margin-top:10px;" [disabled]="!productForm.valid" (click)="onSubmit(productForm)">提交</button>
  </form>
</div>