<div id="page-wrapper">
  <h3>菜谱列表</h3>
  <hr>
  <div>
    <button class="btn btn-primary">添加菜谱</button>
  </div>
  <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>菜谱名称</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let menu of menus">
        <td>{{menu.Name}}</td>
        <td>{{menu.State|menustate}}</td>
        <td>
          <i class="glyphicon glyphicon-trash operator" (click)="removeMenu(menu)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <ul class="pagination pagerbottom" *ngIf="pages.length>0">
    <li [class.disabled]="index<=1"><a (click)="onPrev()">&laquo;</a></li>
    <li *ngFor="let page of pages" [class.active]="page==index"><a (click)="onPageClick(page)">{{page}}</a></li>
    <li [class.disabled]="index*20>=count"><a (click)="onNext()">&raquo;</a></li>
  </ul>
</div>