<div id="page-wrapper">
  <h3>商品管理</h3>
  <hr>
  <div class="condition">
    <form class="form-inline">
      <div class="form-group">
        <label for="pname">名称:</label>
        <input type="text" id="pname" name="pname" [(ngModel)]="condition.name" class="form-control">
      </div>
      <div class="form-group">
        <label for="pcategroy">分类：</label>
        <select class="form-control" name="category" [(ngModel)]="condition.category" id="pcategory">
          <option value="0">请选择分类</option>
          <option value="category.id" *ngFor="let category of categories">{{category.name}}</option>
        </select>
      </div>
      <button class="btn btn-primary btn-sm" (click)="onSearch()"><i class="glyphicon glyphicon-search"></i></button>
      <button class="btn btn-primary right" (click)="onAddProduct()">添加商品</button>
    </form>
  </div>
  <hr class="clear">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>名称</th>
        <th>价格</th>
        <th>单位</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.unitName}}</td>
        <td>
          <i class="glyphicon glyphicon-edit operator"></i>
          <i class="glyphicon glyphicon-trash operator"></i></td>
      </tr>
    </tbody>
  </table>

  <ul class="pagination bottom" *ngIf="pages.length>0">
    <li [class.disabled]="index<=1"><a href="#" (click)="onPrev()">&laquo;</a></li>
    <li *ngFor="let page of pages" [class.active]="page==index"><a href="#" (click)="onPageClick(page)">{{page}}</a></li>
    <li [class.disabled]="index*20>=count"><a (click)="onNext()">&raquo;</a></li>
  </ul>
</div>